[Desktop Entry]
Name=Settings Manager
Comment=Graphical Settings Manager for Xfce 4
Exec=xfce4-settings-manager
Icon=/home/braeden/Downloads/numix-icon-theme-circle-master/Numix-Circle/48x48/apps/setroubleshoot_icon.svg
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=true
X-XFCE-Source=file:///usr/share/applications/xfce-settings-manager.desktop
Path=
StartupNotify=false
