[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/braeden/Desktop/Roboto-Light.ttf]
row=5
col=0

[8CA63C26A63C1366]
row=1
col=0

[96AC7E57AC7E323B]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/braeden]
row=4
col=0

