[Desktop Entry]
Name=Popcorn Time
Comment=Watch Movies and TV Shows instantly
Exec=/opt/popcorn-time/Popcorn-Time
StartupNotify=false
Icon=/home/braeden/Downloads/numix-icon-theme-circle-master/Numix-Circle/48x48/apps/popcorntime.svg
Type=Application
Categories=Network;FileTransfer;P2P;
X-Desktop-File-Install-Version=0.22
X-XFCE-Source=file:///usr/share/applications/popcorn-time.desktop
Path=
Terminal=false
